<ul class="list-unstyled components">
  <li class="firstList">
    <div>
      <a href="#" class="first-element">
      <span>
        <span class="iconify" data-icon="feather-home" data-inline="false"></span>
      </span>
        <span>Home</span>
        <span class="arrowsIcons"><fa-icon [icon]="faChevronDown"></fa-icon></span>
        <span class='counter'>2</span>
      </a>
    </div>
  </li>
  <li class="dropdownList">
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="">
      <p class="categories">CATEGORY 1</p>
    </a>
    <ul class="collapse list-unstyled show" id="homeSubmenu">
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-mail" data-inline="false"></span>
      </span>
            <span>Email</span>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-message-square" data-inline="false"></span>
      </span>
            <span>Chat</span>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-check-square" data-inline="false"></span>
      </span>
            <span>Todo</span>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-calendar" data-inline="false"></span>
      </span>
            <span>Calendar</span>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-shopping-cart" data-inline="false"></span>
      </span>
            <span>eCommerce</span>
            <span class="arrowsIcons"><fa-icon [icon]="faAngleRight"></fa-icon></span>
          </a>
        </div>
      </li>

    </ul>
  </li>
  <li>
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="">
      <p class="categories">CATEGORY 2</p>
    </a>
    <ul class="collapse list-unstyled show" id="categSubmenu">
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-type" data-inline="false"></span>
      </span>
            <span>Typography</span>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-eye" data-inline="false"></span>
      </span>
            <span>Feather</span>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="">
      <span>
        <span class="iconify" data-icon="feather-credit-card" data-inline="false"></span>
      </span>
            <span>Cards</span>
            <span class="arrowsIcons"><fa-icon [icon]="faAngleRight"></fa-icon></span>
            <span class='new-span'>new</span>
          </a>
        </div>
      </li>

    </ul>
  </li>
</ul>
