$background: #161d31;
$foreground: #283046;
$shoppingCartCounterBackground: #7367f0;
$mouseHover: #161D31;
$textColor: #d0d2d6;
$iconsColor: #b4b7bd;
$orangeColor: #ff9f43;
$itemCountTextBackground : rgba(255,159,67,.12);
$circle1Text: #b2c0c3;
$circle1Background: rgb(255,255,255,.12);
$circle2Text: #00cfe8;
$circle2Background: rgba(0,207,232,.12);
$circle3Text: #ea5455;
$circle3Background:rgba(234,84,85,.12);
$circle4Text: #28c76f;
$circle4Background: rgba(40,199,111,.12);
