<main>
  <div class="row first-block">
    <div class="col-md-6 col-lg-4 col-sm-12">
      <div class="content-wrapper">
        <div class="textHeader">
          <h1>Title</h1>
        </div>
        <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sapien ante, molestie nec ipsum non,
          consectetur eleifend lacus.</p>
      </div>

    </div>
    <div class="col-md-6 col-lg-8 col-sm-12">

      <div class="content-wrapper">
        <div class="textHeader">
          <h1>Title</h1>
          <span>Updated N month(s) ago</span>
        </div>
        <div class="circles">
          <div class="circle-container">
            <div class="circle"><span>img</span></div>
            <div class="text-container">
              <p class="first-level-text">999K</p>
              <p class="second-level-text">Lorem</p>
            </div>
          </div>
          <div class="circle-container">
            <div class="circle"><span>img</span></div>
            <div class="text-container">
              <p class="first-level-text">999K</p>
              <p class="second-level-text">Lorem</p>
            </div>
          </div>
          <div class="circle-container">
            <div class="circle"><span>img</span></div>
            <div class="text-container">
              <p class="first-level-text">999K</p>
              <p class="second-level-text">Lorem</p>
            </div>
          </div>
          <div class="circle-container">
            <div class="circle"><span>img</span></div>
            <div class="text-container">
              <p class="first-level-text">$999</p>
              <p class="second-level-text">Lorem</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4  col-md-12 col-12">
      <div class="row">
        <div class="col-lg-6 col-md-3  col-6" ><div class="content-wrapper right-side"></div></div>
        <div class="col-lg-6 col-md-3 col-6"><div class="content-wrapper right-side"></div></div>
        <div class="col-lg-12 col-sm-12 col-md-6 "><div class="content-wrapper right-side last-child"></div></div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="content-wrapper second-level" ><p class="centered-text"><span>I am a text centered!</span></p></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6"><div class="content-wrapper last-level"></div></div>
    <div class="col-lg-6 col-md-6 d-none d-md-block"><div class="content-wrapper last-level"></div></div>
  </div>

</main>
