@import "src/styles/shared/variables.scss";

.shoppingCart {
  transition: all 0.3s;
  display: block;
  position: absolute;
  z-index: 1;
  right: 165px;
  top: 85px;
  width: 385px;
  background: $foreground;
  border-radius: 5px;
.elements-container{
  .element {
    border-bottom: solid 1px $iconsColor;
    padding: 0 20px;
    height: 70px;
    text-align: center;
    position: relative;
    background: $foreground;
    transition: background-color 0.3s;
    &.cart-element:hover{
      background-color: $mouseHover;
    }
    .leftElement {
      float: left;
      display: table;
      height: 100%;

      p {
        display: table-cell;
        vertical-align: middle;
      }

      .cartTitle {
        font-size: 20px;
      }
    }
      .middle-element{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        border: solid 1px #cbcbcc;
        border-radius: 4px;
        height: 32px;
        button {
          display: inline-block;
        }
        button{
          padding: 0;
          border : 0;
          font-size : 100%;
          font-family: inherit;
          background-color: $foreground;
          color: $textColor;
          width: 30px;
          height: 30px;
        }
       input{
          width: 30px;
          height: 30px;
          margin: auto;
          background-color: $foreground;
          color: $textColor;
          text-align: center;
          outline: 0 solid transparent;
        }
      }
    .rightElement {
      float: right;
      display: table;
      height: 100%;
      span {
        display: table-cell;
        vertical-align: middle;

        .itemCounter {
          color: $shoppingCartCounterBackground;
          background-color: rgba(115, 103, 240, 0.3);
          padding: 3px 6px;
          border-radius: 11px;
        }
      }
    }
    .closeButton {
      transition: all 0.3s;
      position: absolute;
      top: 2px;
      right: 17px;
      opacity: 0;
      button{
        font-size: 24px;
        font-family: inherit;
        border: 0;
        padding: 0;
        color: $textColor;
        background-color: transparent;
      }
    }
    &:hover .closeButton {
      opacity: 1;
    }
  }
  .total-element {
    height : 55px;
    padding: 0 20px;
    .leftElement {
      float: left;
      display: table;
      height: 100%;

      p {
        display: table-cell;
        vertical-align: middle;
      }

      .totalTitle {
        font-size: 17px;
      }
    }

    .rightElement {
      float: right;
      display: table;
      height: 100%;

      span {
        display: table-cell;
        vertical-align: middle;

        &.itemTotal {
          color: $shoppingCartCounterBackground;
        }
      }
    }
  }
  .checkoutButton{
    button{
      transition: opacity 0.3s;
      font-size: 16px;
      font-family: inherit;
      border: 0;
      margin: 0 auto 20px;
      display: block;
      opacity: 1;
      padding: 8px 0;
      color: $textColor;
      background-color: $shoppingCartCounterBackground;
      width: 90%;
    &:hover{
      opacity: 0.7;
    }
    }
  }
}


}
