@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "src/styles/shared/variables.scss";

.wrapper {
  //display: grid;
  //align-items: stretch;
  display: grid;
  width: calc(100vw - 10px);
  height: 100vh;
  grid-gap: 20px;
  grid-template-columns: 250px  5fr;
  grid-template-areas:
               "sidebar header  header"
							 "sidebar content content";
  background-color: $background;
  color: $textColor;
  @media (max-width: 991px) {
    height: auto;
    grid-gap: 10px;
    grid-template-columns: 6fr;
    grid-template-areas:
               "header header  header"
							 "content content content";
  }
}

#sidebar {
  min-height: 100vh;
  grid-area: sidebar;
}
//
//a[data-toggle="collapse"] {
//  position: relative;
//}
//
//.dropdown-toggle::after {
//  display: block;
//  position: absolute;
//  top: 50%;
//  right: 20px;
//  transform: translateY(-50%);
//}


p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: $textColor;
}
//
//a, a:hover, a:focus {
//  color: inherit;
//  text-decoration: none;
//  transition: all 0.3s;
//}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: $foreground;
  transition: all 0.3s;
}
.header{
  margin: 20px 20px 0 0;
  grid-area: header;
  height: 60px;
  background-color: $foreground;
}
.content{
  grid-area: content;
  margin-right:  20px  ;
  min-height: calc( 100vh - 120px);
  overflow: hidden;
}


//#sidebar .sidebar-header {
//  padding: 20px;
//  background: #6d7fcc;
//}
//
//#sidebar ul.components {
//  padding: 20px 0;
//  border-bottom: 1px solid #47748b;
//}
//
//#sidebar ul p {
//  color: #fff;
//  padding: 10px;
//}
//
//#sidebar ul li a {
//  padding: 10px;
//  font-size: 1.1em;
//  display: block;
//}
//
//#sidebar ul li a:hover {
//  color: #7386D5;
//  background: #fff;
//}
//
//#sidebar ul li.active > a, a[aria-expanded="true"] {
//  color: #fff;
//  background: #6d7fcc;
//}
//
//ul ul a {
//  font-size: 0.9em !important;
//  padding-left: 30px !important;
//  background: #6d7fcc;
//}
