<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <app-side-bar></app-side-bar>
  </nav>

  <!-- Page Content -->
<!--  <div id="content">-->
<!--    &lt;!&ndash; We'll fill this with dummy content &ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
  <div class="header">
    <app-top-bar></app-top-bar>
  </div>

  <div class="content"><app-grid-panel></app-grid-panel></div>

</div>
