<header>
  <div class="navBaricons">
    <nav>
      <ul class="list-unstyled">
        <li>
          <a href="#">
            <span class="iconify" style="font-size: 30px;" data-icon="feather-calendar" data-inline="false"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="iconify" style="font-size: 30px;" data-icon="feather-message-square" data-inline="false"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="iconify" style="font-size: 30px;" data-icon="feather-mail" data-inline="false"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="iconify" style="font-size: 30px;" data-icon="feather-check-square" data-inline="false"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="iconify" style="font-size: 30px;" data-icon="feather-star" data-inline="false"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="notifications">
    <span class="searchIcon">
    <span class="iconify" style="font-size: 30px;" data-icon="feather-search" data-inline="false"></span>
    </span>
    <span class="cart">
      <span class="cartCounter">{{counter}}</span>
    <span class="iconify" style="font-size: 30px;" data-icon="feather-shopping-cart" data-inline="false"></span>
    </span>
    <span class="searchIcon">
    <span class="iconify" style="font-size: 30px;" data-icon="feather-bell" data-inline="false"></span>
    </span>
    <div class="userInformations">
      <p class="username">Username</p>
      <p class="role">admin</p>
    </div>
  </div>
</header>
<app-shopping-cart></app-shopping-cart>
